body {
  
}

#darkModeToggle {
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  border-style: ridge;
  border-radius: 20px;
  /* box-shadow: 5px 5px black; */
}

#darkModeToggle:hover {
  border-style: inset;
}

body.darkMode{
  background-color: #121212;
  color: white;
}

#headerHolder {
  justify-content: center;
  text-align: center;
  margin: 1%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
}

#formHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#resultsHolder {
  display: block;
  justify-content: center;
  text-align: center;
  margin: 1%;
  box-sizing: border-box;
  border-radius: 20px;
}